<footer style="background-color:#ddd; padding: 20px 0;">
    <div class="container">
        <p>
            <a target="_blank" href="http://www.liaoxuefeng.com">Website</a> -
            <a target="_blank" href="https://github.com/michaelliao/learn-javascript">GitHub</a> -
            <a target="_blank" href="http://weibo.com/liaoxuefeng">Weibo</a>
        </p>
        <p>This JavaScript course is created by <a target="_blank" href="http://weibo.com/liaoxuefeng">@廖雪峰</a>.</p>
        <p>Code licensed <a target="_blank"
                href="https://github.com/michaelliao/learn-javascript/blob/master/LICENSE">Apache</a>.</p>
    </div>
</footer>