{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>welcome!</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include 'commen_script.html' %}
<script>
    $.ajax({
        type: "POST",
        //请求的媒体类型
        contentType: "application/json;charset=UTF-8",
        //请求地址
        url: "/getStudentList",
        //数据，json字符串
        data: JSON.stringify({
            uid: localStorage.getItem('uid'),
        }),
        complete: function (result) {
            console.log(result)
        },
        //请求成功
        success: function (result) {
            console.log(result);
        },
        //请求失败，包含具体的错误信息
        error: function (e) {
            console.log(e.status);
            console.log(e.responseText);
        }
    })

</script>
{% endblock %}